<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="true" threshold="ALL">
    <appender name="DBLogAppender">
      <file type="log4net.Util.PatternString" value="C:\\Logs\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="PixaWriter_yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type='log4net.Layout.SerializedLayout, log4net.Ext.Json'>
        <decorator type='log4net.Layout.Decorators.StandardTypesDecorator, log4net.Ext.Json' />
        <member value='UTCTime|%-23utcdate{ISO8601}' />
        <member value='LogType|SQLLog' />
        <member value='Level|%level' />
        <member value='Browser|%property{browserinfo}' />
        <member value='ProcedureName|%property{procedurename}' />
        <member value='Parameters|%property{parameters}' />
      </layout>
    </appender>
    <logger name="DBLog">
      <level value="DEBUG" />
      <appender-ref ref="DBLogAppender" />
    </logger>
  </log4net>
</configuration>